<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
  </head>
  <body>
    <div class="app">
      <div class="section settings-form">
        <h3 class="section-title">Input File</h3>
        <div class="form-group">
          <div class="form-control">
            <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
            @if (!settings.file.input) {
              <a class="btn" (click)="fileUpload.click()">Select File</a>
            }
          </div>
        </div>

        <h3 class="section-title">Output Options</h3>
        <div class="form-group form-group-inline">
          <h5>Dimensions</h5>
          <div class="form-control">
            <input type="number" [disabled]="status.state<5" [(ngModel)]="settings.dimensions.width" (blur)="refreshDimension('width')" (input)="widthChange()" min="1" />
            &times;
            <input type="number" [disabled]="status.state<5" [(ngModel)]="settings.dimensions.height" (blur)="refreshDimension('height')" (input)="heightChange()" min="1" />
          </div>
        </div>

        <div class="form-group form-group-inline">
          <h5>Lock Aspect</h5>
          <div class="form-control">
            <label><input type="checkbox" [disabled]="status.state<5" [(ngModel)]="settings.dimensions.lock" /> {{settings.dimensions.ratio|ratio}}</label>
          </div>
        </div>
        <div class="form-group">
          <h5>FPS</h5>
          <div class="form-control">
            <input type="number" [disabled]="status.state<5" (blur)="refreshFps()" [(ngModel)]="settings.fps" />
          </div>
        </div>

        <!-- <h6>Color Options</h6> -->
        <h3 class="section-title">Dither Options</h3>
        <div class="form-group form-group-inline">
          <h5>Dither</h5>
          <div class="form-control">
            <label><input type="checkbox" [disabled]="status.state<5" [(ngModel)]="settings.color.dither" (change)="refreshThumbnail()" /> {{settings.color.dither?'Yes':'No'}}</label>
          </div>
        </div>
        <div class="form-group form-group-inline">
          <h5>Dither Grid</h5>
          <div class="custom-select" [ngClass]="{'disabled': !settings.color.dither || status.state < 5}">
            <select [(ngModel)]="settings.color.dither_scale" (change)="refreshThumbnail()" [disabled]="!settings.color.dither || status.state<5">
              <option [ngValue]="0">0</option>
              <option [ngValue]="1">1</option>
              <option [ngValue]="2">2</option>
              <option [ngValue]="3">3</option>
              <option [ngValue]="4">4</option>
              <option [ngValue]="5">5</option>
            </select>
          </div>
        </div>
        <div class="form-group form-group-inline">
          <h5>Palette Mode</h5>

          <div class="custom-select" [ngClass]="{'disabled': status.state < 5}">
            <select (change)="refreshPalette()" [disabled]="status.state<5" [(ngModel)]="settings.color.stats_mode">
              <option value="full">Full</option>
              <option value="diff">Frame Difference</option>
            </select>
          </div>
        </div>
        <div class="form-group form-group-inline">
          <h5>Stats Mode</h5>

          <div class="custom-select" [ngClass]="{'disabled': status.state<5}">
            <select (change)="refreshPalette()" [disabled]="status.state<5" [(ngModel)]="settings.color.diff_mode">
              <option value="rectangle">Rectangle</option>
              <option value="none">None</option>
            </select>
          </div>
        </div>



        <h3 class="section-title">Color Palette</h3>
        <div class="form-group">
          <h5>Colors</h5>
          <div class="form-control">
            <div class="custom-range">
              <div class="custom-range-value"><input type="number" [disabled]="status.state<5" min="16" max="256" (blur)="refreshPalette()" [(ngModel)]="color_value" /></div>
              <div class="custom-range-input">
                <input type="range" min="16" step="2" max="256" [disabled]="status.state<5" (mouseup)="refreshPalette()" [(ngModel)]="settings.color.count" />
              </div>
            </div>
          </div>
          <div class="palette-control">
            <!-- <div pixel-palette [(ngModel)]="palette" data-max-colors="settings.color.count"></div> -->
             <pixel-palette [palette]="palette" [maxColors]="settings.color.count" />
          </div>
        </div>
      </div>


      <div class="section preview">
        <div class="top-header">
          <!-- <div class="scrubber" frame-scrubber data-frames="frames.max" [ariaDisabled]="status.state < 5" [(ngModel)]="frames.current"></div> -->
          <frame-scrubber class="scrubber" [(maxFrames)]="frames.max" [(currentFrames)]="frames.current" [disabled]="status.state < 5" (framesChanged)="frameChanged()" />
          <div class="export">
            <a [ngClass]="{'disabled': status.state < 5}" (click)="export()" class="btn btn-primary">Export</a>
          </div>
        </div>
        <!-- <h3 class="section-title">Preview</h3> -->
        <div class="progress-canvas">
          @if (status.state === 4) {
            <div class="progress">
              <div class="progress-fill" [ngClass]="{'finished': status.export.progress == 100, 'spin': status.export.canceling}" [ngStyle]="{'width': status.export.progress+'%'}"></div>
            </div>
  
            <div class="progress-info">
              <div class="progress-text" [ngClass]="{'finished': status.export.progress == 100}">
                <span class="progress-text-percent" [hidden]="!(status.export.progress < 100) && status.export.canceling">{{status.export.progress|number}}%</span>
                @if (status.export.progress === 100) {
                  <span>Complete</span>
                } @else if (status.export.canceling) {
                  <span>Canceling</span>
                }
                <span class="progress-text-size">{{status.export.size|fileSize}} <span [hidden]="status.export.progress < 100">written</span></span>
              </div>
              <div class="progress-action">
                <div [hidden]="!(status.export.progress < 100)">
                  <a class="btn" href (click)="cancelExport()">Cancel</a>
                </div>
                <div [hidden]="status.export.progress !== 100">
                  <a class="btn" href (click)="reveal()">Show in folder</a>
                  <a class="btn" href (click)="preview()">Preview</a>
                  <a class="btn btn-primary" href (click)="exportDone()">Done</a>
                </div>
              </div>
            </div>
            <!-- <pre>{{status|json}}</pre> -->
          }
        </div>
        @if (status.state > 0 && status.state < 4) {
          <div class="progress-canvas">
            @if (status.state > 0 && status.state < 4) {
              <div class="progress-canvas-container">
                <app-loader></app-loader>
                @if (status.state === 1) {
                  <div class="progress-palette">
                    <h4>Scanning Input</h4>
                  </div>
                }
                @else if (status.state === 2) {
                  <div class="progress-palette">
                    <h4>Generating Color Palette</h4>
                    <p>This could take a while for longer gifs...</p>
                    <hr />
                    <p><a (click)="cancel(true)" class="btn">Cancel</a></p>
                  </div>
                }
                @else if (status.state === 3) {
                  <div class="progress-palette">
                    <h4>Generating Preview</h4>
                  </div>
                }
              </div>
            }
          </div>
        }
        @if (status.state === 5) {
          <div class="preview-canvas">
            @if (thumbnail !== null) {
              <img class="preview-img" [src]="thumbnail" [style]="{'max-width':settings.dimensions.width+'px'}" />
            }
          </div>
        }
        <!-- <div class="preview-canvas" gif-preview></div> -->
      </div>
    </div>
  </body>
</html>